<%- include('./partials/head') %>

<div class="center">
  <article> 
      <h1> <%= name %> </h1> 
      <img src="<%= avatar %>" alt="profielfoto">
          <div class="naam">
      <p class="info"> voor- en achternaam</p>
      <p> <%= name %> <%= prefix %> <%= surname %> </p>
          </div>
          <div class="naam">
      <p class="info"> leeftijd </p>
      <p> 18 </p>
      </div>
          <div class="naam">
      <p class="info"> woonplaats </p>
      <p> purmerend </p>
      </div>   
          <div class="naam">
      <p class="info"> opleiding </p>
      <p> fdnd </p>
          </div>        
  
  </article>
  </div>

<%- include('./partials/foot') %>
