<%- include('./partials/head') %>

<section>
    <header>
        <h1> <%= name %> </h1> 
    </header>

    <article>
        <img src="<%= avatar %>" alt="profielfoto"> 

    
        <div>
            <h2> voor- en achternaam</h2>
            <p> <%= name %> <%= prefix %> <%= surname %> </p>
                
                
            <h2> github </h2>
            <p> <%= github_handle %> </p>
                        
            <h2> squad </h2>
            <p> <%= squad_id %> </p>
                        
            <h2> bio </h2>
            <p> <%= bio %> </p>
        </div>
    </article>
</section>

<%- include('./partials/foot') %>
